---
layout: blog
description: Jhat's Blog
---

{% for post in paginator.posts %}
    <div class="post-preview">
        <div class="post-head">
            <a href="{{ site.homeurl | append: post.url }}">
                <h2 class="post-title">{{ post.title }}</h2>
                {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                {% endif %}
            </a>
            <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
        </div>

        <div class="post-excerpt">
            {{ post.excerpt }}
        </div>

        {% if post.excerpt != post.content %}
            <div class="post-read-more">
                <a href="{{ site.homeurl | append: post.url }}">Read More ...</a>
            </div>
        {% endif %}
    </div>
{% endfor %}

{% include paginator.html %}
