<link rel="canonical" href="{{ site.homeurl }}/{{ page.url | replace: 'index.html', '' }}">

<link rel="stylesheet" type="text/css" href="{{ site.homeurl }}/assets/css/basscss.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.homeurl }}/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.homeurl }}/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.homeurl }}/assets/css/base.css">

<link rel="shortcut icon" type="image/x-icon" href="{{ site.homeurl }}/assets/images/favicon.ico">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="{{ site.homeurl }}/assets/js/html5shiv.min.js"></script>
    <script src="{{ site.homeurl }}/assets/js/respond.min.js"></script>
<![endif]-->
