{% if paginator.total_pages > 1 %}
    <nav align="center">
        <ul class="pagination pagination-lg">
            {% if paginator.page > 1 %}
                <li>
                    <a aria-label="Previous" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo;</a>
                </li>
            {% endif %}

            {% assign page_step = 2 %}
            {% if paginator.page > 1 %}
                {% assign page_end = paginator.page | minus: 1 %}
                {% assign page_start = paginator.page | minus: page_step %}
                {% if page_start <= 0 %}
                    {% assign page_start = 1 %}
                {% endif %}

                {% assign page_number = page_start | divided_by: 10 | minus: 1 | times: 10 %}
                {% if page_number > 0 %}
                    <li class="disabled"><a>...</a></li>
                    <li><a href="{{ site.baseurl }}/page{{ page_number }}/">{{ page_number }}</a></li>
                {% endif %}

                {% if page_start > 1 %}
                    <li class="disabled"><a>...</a></li>
                {% endif %}
                {% for page_number in (page_start...page_end) %}
                    <li><a href="{{ site.baseurl }}/{% if page_number != 1 %}page{{ page_number }}/{% endif %}">{{ page_number }}</a></li>
                {% endfor %}
            {% endif %}

            <li class="active"><a href="{{ site.baseurl }}/{% if paginator.page != 1 %}page{{ paginator.page }}/{% endif %}">{{ paginator.page }}</a></li>

            {% assign page_start = paginator.page | plus: 1 %}
            {% assign page_end = paginator.page | plus: page_step %}
            {% if page_end > paginator.total_pages %}
                {% assign page_end = paginator.total_pages %}
            {% endif %}
            {% for page_number in (page_start...page_end) %}
                <li><a href="{{ site.baseurl }}/page{{ page_number }}/">{{ page_number }}</a></li>
            {% endfor %}
            {% assign page_number = page_end | divided_by: 10 | plus: 1 | times: 10 %}
            {% if page_number < paginator.total_pages %}
                {% assign page_diff = page_number | minus: page_end %}
                {% if page_diff > 1 %}
                    <li class="disabled"><a>...</a></li>
                {% endif %}
                <li><a href="{{ site.baseurl }}/page{{ page_number }}/">{{ page_number }}</a></li>
                {% assign page_end = page_number %}
            {% endif %}
            {% if page_end < paginator.total_pages %}
                <li class="disabled"><a>...</a></li>
            {% endif %}

            {% if paginator.page < paginator.total_pages %}
                <li>
                    <a aria-label="Next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

